section.about 
    .container 
        +blockheader("What we do","Story about us"," Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, nesciunt labore? Numquam, ex corporis nihil cumque quam sequi eum quae neque et adipisci eos sed qui quia atque, veniam quibusdam.")
        .about-list
            +aboutItem({
                src:"../images/img-about1.png",
                title: "Supper Team",
                icon: "fa fa-users"
            }) 
            +aboutItem({
                src:"../images/img-about2.png",
                title: "Supper Team",
                icon: "fa fa-users"
            }) 
            +aboutItem({
                src:"../images/img-about3.png",
                title: "Supper Team",
                icon: "fa fa-users"
            }) 
          
            