header.header 
  .container 
    .header-top 
      a.header-logo(href="index.html") MOGO 
      i.fas.fa-bars.header-toggle
      ul.header-menu
        +MenuLink("Intro","#")
        +MenuLink("Service","#")
        +MenuLink("Work","#")
        +MenuLink("Blog","#")
        +MenuLink("Contac","#")
        li.header-menu-item
          a.header-menu-icon(href="#")
            i.fas.fa-shopping-cart
        li.header-menu-item
          a.header-menu-icon(href="#")
            i.fas.fa-search  
    .header-content 
      h2.header-content-caption Creative Template
      h1.header-content-title Wellcom to mogo
      a.header-content-more(href="#") Learn more
    .header-bottom 
      +hbottom("01","Intro")
      +hbottom("02","Works")
      +hbottom("03","Blog")
      +hbottom("04","COntacts")
     
        
      
     
      
      

        
       

      
        

      
      
    

      
        
         
         
        
      
      
       