section.people 
    .container 
        +blockheader("Happy Client","What people say")
        ul.people-list 
            +peopleItem("../images/img-people1.png","MatThew Dex","Grapic Design","Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quos in hic error numquam velit voluptas sit suscipit architecto molestias temporibus, eveniet labore accusamus eius enim blanditiis voluptatibus quisquam ea.")
            +peopleItem("../images/img-people2.png","Nick Karvounis","Grapic Design","Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quos in hic error numquam velit voluptas sit suscipit architecto molestias temporibus, eveniet labore accusamus eius enim blanditiis voluptatibus quisquam ea.")
            +peopleItem("../images/img-people3.png","Jeallynn Castillo","Grapic Design","Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quos in hic error numquam velit voluptas sit suscipit architecto molestias temporibus, eveniet labore accusamus eius enim blanditiis voluptatibus quisquam ea.")
            +peopleItem("../images/img-people4.png","Mike Petrucss","Grapic Design","Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quos in hic error numquam velit voluptas sit suscipit architecto molestias temporibus, eveniet labore accusamus eius enim blanditiis voluptatibus quisquam ea.")
            