section.quote 
    .container 
        .quote-container
            //i.fa.fa-angle-left.quote-arrow-left.quote-arrow 
            +quoteItem({
                src:"../images/img-quote.png",
                type:false,
                title:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sed amet dicta temporibus fugit, non, quasi atque rerum voluptates voluptate id et ipsa sit aliquid, eaque quae quam corporis quas!",author:"Jonh dow"
            })
            +quoteItem({
                src:"../images/img-quote.png",
                type:false,
                title:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sed amet dicta temporibus fugit, non, quasi atque rerum voluptates voluptate id et ipsa sit aliquid, eaque quae quam corporis quas!",author:"Jonh dow"
            })
            +quoteItem({
                src:"../images/img-quote.png",
                type:false,
                title:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sed amet dicta temporibus fugit, non, quasi atque rerum voluptates voluptate id et ipsa sit aliquid, eaque quae quam corporis quas!",author:"Jonh dow"
            })
            +quoteItem({
                src:"../images/img-quote.png",
                type:false,
                title:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sed amet dicta temporibus fugit, non, quasi atque rerum voluptates voluptate id et ipsa sit aliquid, eaque quae quam corporis quas!",author:"Jonh dow"
            })
          
            //i.fa.fa-angle-right.quote-arrow-right.quote-arrow
