section.team
    .container 
        +blockheader("Who we are","Meet ours team","Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil illo aut, earum similique possimus quos cupiditate facere quia dolores nobis, incidunt magnam culpa quae rerum, in corrupti aliquid numquam et. ") 
        .team-list 
            +teamItem("../images/img-team1.png","Matthew","Graphic Design")
                +teamSocial("##")
            +teamItem("../images/img-team2.png","Christopher Cambell","Branding/UX design")
                +teamSocial("##")
            +teamItem("../images/img-team3.png","Michael Fertix","Developer")
                +teamSocial("##")
section.brand 
    .container
        img(src="../images/img-logos.png")